@charset "UTF-8";
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.slick-slider {
  margin: 30px auto 50px;
  width: auto;
}

.slider {
  background: #f5f5f5;
  height: 450px;
}

.slider h2 {
  font-size: 40px;
  color: black !important;
  margin-top: 10px;
}

.slider .card1 {
  padding: 8px;
  position: relative;
  margin: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.slider .card1 .card1-img-top {
  width: 146px;
}

.slider .card1 p.card1-title {
  margin-bottom: 1px;
}

.slider .card1 p.card1-text {
  margin-bottom: 1px;
}

.slider .card1 p.card1-text2 {
  font-weight: 100;
  color: #97a0a0 !important;
}

button.slick-arrow.slick-prev.slick-disabled, button.slick-arrow.slick-next {
  background-color: black;
}

.slick-prev:before {
  content: '←';
  background-color: black;
}

.slider2 {
  background-color: #363535;
}

.slide4 {
  background-color: #444242;
}

.slider-basic h2, .slider2 h2, .slide4 h2 {
  color: white;
}

.slider-basic .card1 p.card1-title, .slider2 .card1 p.card1-title, .slide4 .card1 p.card1-title {
  color: white;
}

.slider-basic .card1 p.card1-text, .slider2 .card1 p.card1-text, .slide4 .card1 p.card1-text {
  color: white;
}

.slider-basic .card1 p.card1-text2, .slider2 .card1 p.card1-text2, .slide4 .card1 p.card1-text2 {
  color: yellowgreen !important;
}
