@import "../../../node_modules/font-awesome/css/font-awesome.css";
@import 'layout/header.scss';
@import 'layout/section.scss';
@import'layout/Categories.scss';
@import'layout/slide1.scss';

body{
    
    height: 1500px;
    background:#f5f5f5;
}
.App{
    background:#f5f5f5;
}
